.tag {
  border-radius: 50% 10% 10% 50%;
}

.btn-selected-in-color {
  border: 3px outset orange;
}

.black {
  background-color: black;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.brown {
  background-color: brown;
  color: white;
}

.gray {
  background-color: gray;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.pink {
  background-color: pink;
  color: black;
}

.purple {
  background-color: purple;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.yellow {
  background-color: yellow;
  color: black;
}

.pokemon-component {
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
}
.pokemon-component:hover {
  transform: translate3D(0, -1px, 0) scale(1.05); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease; /* zoom in */
  cursor: pointer;
}

.colors-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10% 2%;
  grid-template-areas:
    ". . . . ."
    ". . . . .";
  & > div > label {
    width: 100%;
    height: 100%;
  }
}

.btn-reset {
  position: fixed;
  // left: -1;
  bottom: 0;
  width: 10%;
  text-align: center;
}

.btn-flotant {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 2px;
  color: black;
  border-color: #f5941d;
  background-color: #fff836;
  position: fixed;
  bottom: 40px;
  right: 20px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.btn-flotant:hover {
  color: white;
  background-color: #f05030; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
  .btn-flotant {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
